.main-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  height: 90svh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.h3 {
  position: relative;
  z-index: 10;
  width: 400px;
  margin-top: 10px;
  font-weight: normal;
  font-weight: 300;
}

.backgroundmist {
  position: absolute;
  height: 400px;
  filter: blur(200px);
  right: 17%;
  border-radius: 50%;
  width: 400px;
  background-color: var(--primarytext-color);
  z-index: -10;
}
.topmainsection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 100px;
  padding-top: 250px !important;
  margin-bottom: 100px !important;
  margin: auto;
}
/* .main-section::after {
  content: "";
  pointer-events: none;
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(15, 23, 22, 0) 0%, #0f1716 100%);
}

.main-section::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/imgs/main-background-2.png");
  background: linear-gradient(180deg, rgba(15, 23, 22, 0) 52.45%, #0f1716 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
} */

h3 {
  position: relative;
  text-align: center;
  z-index: 3;
  font-size: 18px;
}

.main-coin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 2;
}

h2 {
  font-size: 50.4px;
  text-align: center;
  transform: translateY(-60px);
}

.h1 {
  margin-top: 200px;
}

.info {
  display: inline;
  position: relative;
  z-index: 100;
  margin-left: 5px;
  background: #ffffff1a;
  border-radius: 200px;
  padding: 2px 11px;
}

.info > div {
  display: none;
}

.info:hover > div {
  display: flex;
  position: absolute;
  top: -150px;
  left: 0;
  border-radius: 15px;
  padding: 20px;
  background: #0f1716;
  width: 400px;
  z-index: 1000;
}

.gif {
  position: absolute;
  left: 2%;
  bottom: 10%;
  width: 100px;
  border-radius: 15px;
}

.gif > img {
  width: 100px;
}

.info > span {
  color: white !important;
}

.info > span {
  color: white !important;
}

.button {
  justify-content: center;
  align-items: center;
  border: none;
  width: 264px;
  border-radius: 100px;
  font-size: 20px;
  gap: 20px;
  background: linear-gradient(180deg, #219653 0%, #299c35 100%);
  padding: 21px 30px;
  cursor: pointer;
  margin-top: 40px;
  /* width: 100%; */
  z-index: 0;
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 27px;
  }
  .main-coin {
    width: 280px;
  }
}

@media (max-width: 820px) {
  h1 {
    margin-top: 140px;
    font-size: 27px;
  }

  .info {
    display: none;
  }

  .main-coin {
    width: 280px;
  }

  .h3 {
    font-size: 16px;
  }

  .gif {
    margin-top: 40px;
    position: relative;
    bottom: 0;
    align-self: baseline;
  }
}

@media (max-width: 500px) {
  .main-coin {
    top: 45%;
    width: 190px;
  }

  .main-section {
    height: 130svh;
  }

  .button {
    display: flex;
    margin-top: 40px;
  }
  .gif {
    align-self: center;
    position: relative;
    left: 0;
    bottom: 0;
    /* margin-top: 40px; */
  }

  .h3 {
    width: 100%;
  }
}

@media (max-width: 1430px) {
  .button {
    font-size: 18px;
    width: 200px;
    padding: 11px;
  }
  .headertextinfo {
    max-width: 550px !important;
  }
  .topmainsection {
    padding-top: 150px !important;
    gap: 250px;
  }
}

@media (max-width: 500px) {
  .backgroundmist {
    position: absolute;
    height: 253px;
    filter: blur(150px);
    top: 10%;
    right: 13%;
    border-radius: 50%;
    width: 350px;
    background-color: var(--primarytext-color);
    z-index: -100;
  }
  .topmainsection {
    flex-direction: column-reverse;
    gap: 50px;
    padding-top: 100px !important;
    margin-bottom: 0 !important;
  }
  .topmainsection > div > h1 {
    font-size: 36px;
    line-height: 46.8px;
    text-align: center;
  }
  .topmainmobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .headertextinfo {
    text-align: center;
    margin: 0px 20px;
  }
}
