.contactus {
  background: #0b1211;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px !important;
  margin-bottom: 150px !important;
}

.aside {
  width: 50%;
  margin-top: 20px;
}

.aside-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.aside-header > img {
  width: fit-content;
}

.aside-header > div {
  display: flex;
  gap: 20px;
}

.aside-header > p {
  font-weight: 300;
  font-size: 20px;
}

.aside-links {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  font-weight: 300;
}

.aside-links > {
  /* display: flex; */
  /* gap: 10px; */
  color: #3c4141;
}

.aside-links > a {
  text-decoration: underline;
}

.aside-socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.aside-header > div > a {
  color: #88c13c;
  white-space: nowrap;
  font-size: 20px;
}
.span {
  font-weight: 100;
  font-size: 20px;
}
.article {
  width: 40%;
  text-align: center;
}

.title {
  transform: none;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.aside-header > div > a {
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.input {
  padding: 25px 30px;
  background: #0f1716;
  border: 1px solid #353535;
  border-radius: 20px;
  font-size: 18px;
}

.input::-moz-input-placeholder {
  font-size: 18px;
  color: white;
}

.button {
  padding: 25px 30px;
  background: linear-gradient(180deg, #219653 0%, #299c35 100%);
  border-radius: 20px;
  font-size: 24px;
  border: none;
  /* cursor: pointer; */
}
@media (max-width: 1430px) {
  .contactus {
    margin-bottom: 100px !important;
    margin-top: 120px !important;
  }
  .span {
    font-size: 18px;
  }
  .aside-header > p {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .contactus {
    margin-bottom: 0px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: auto !important;
  }
  .aside-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
    margin-bottom: 0px !important;
  }
  .aside-header {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .aside-header {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aside-header > p {
    text-align: center;
    font-size: 18px;
  }

  .contactus {
    flex-direction: column;
    align-items: center;
  }
  .article,
  .aside {
    width: 100%;
  }
  .header-contactus-link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .aside-links {
    margin-bottom: 50px;
  }
}
